<!DOCTYPE html>
<html>
<head>
    <title>顔診断</title>
</head>
<body>
    <h1>顔写真をアップして診断しよう</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="ref" value="{{ ref }}">
        <input type="file" name="photo" required><br><br>
        <label>
            <input type="checkbox" name="share" checked>
            診断結果をこのサイトを紹介してくれた人に共有する
        </label><br><br>
        <button type="submit">診断する</button>
    </form>
</body>
</html>
